body {
    margin: 0;
    padding: 0;
}

#map {
    width: 100vw;
    height: 100vh;
}

#layersMenu {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    padding: 10px;
    z-index: 10;
    font-family: sans-serif;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

#toolsMenu{
    position: absolute;
    bottom: 50px;
    right: 10px;
    background: white;
    padding: 10px;
    z-index: 10;
    font-family: sans-serif;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    /* Make a vertical menu */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Define style for buttons toolsMenu */
#toolsMenu button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 28px;
    padding: 6px;
    color: #444;
    transition: color 0.2s, transform 0.2s;
}

/* Hover (temporary) */
#toolsMenu button:hover {
    color: #0077cc;
    transform: scale(1.2);
}
/* Active (persistent) */
#toolsMenu button.active {
    color: #0077cc;
    transform: scale(1.2);
}

/* Cooridnates input box */
.inputsRow{
    padding: 10px;
    display: flex;
    gap: 10px;
}

.inputsRow input{
    width: 150px;
    border: 1px solid #aaa;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: small;
    font-weight: normal;
}

.inputsRow.active {
    border: 2px solid #0077cc;
    border-radius: 25px;       
    background-color: #f0f8ff; 
}

.boxTitle {
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
    padding: 10px;
}

.coordinatesBox {
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    width: 500px;
    position: absolute;
    bottom: 50px;
    right: 80px;
    z-index: 10;
    font-family: sans-serif;
    max-height: 400px;
    overflow-y: auto;
}

/* Remove number input arrows */
.coordinatesBox input[type="number"]::-webkit-inner-spin-button,
.coordinatesBox input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Fix for Firefox */
.coordinatesBox input[type="number"] {
    -moz-appearance: textfield;
} 
.coordinatesBox button {
    background: none;
    border: none;
    cursor: pointer;
}

.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

.searchContainer {
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 10px;
}
.searchContainer input[type="text"] {
    width: 300px;               /* Make it wider */
    padding: 15px 15px;         /* More padding for bigger box */
    border: 2px solid #ccc;
    border-radius: 25px;        /* Fully rounded corners */
    font-size: 16px;            /* Larger text */
    font-family: Arial, Helvetica, sans-serif; /* Sans-serif font */
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}
.searchContainer input::placeholder {
    font-style: italic;
}

